*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 70%;
    margin: 0 15% 0 15%;
    border: 3px solid cyan;
    background-color: lightblue;
}
#clr1{
    color: cyan;
}
.logoarea{
    background-color: rgb(39, 37, 37);
    float: left;
    width: 100%;
}
.logoarea h1{
    padding: 2%;
    color: white;
}
.navbar{
    background-color: rgb(78, 76, 76);
    float: left;
    width: 100%;
}
.navbar ul{
    padding-left: 0pt;
}
.navbar ul li{
    list-style: none;
    float: left;
    padding: 1%;
    border: 1px solid black;
    color: white;
    
}

.section1{
    float: left;
    width: 65%;
    padding: 1%;
    background-color: white;
    overflow: hidden;
    height: 100vh;
}
.section1 .imgc{
    
    float: left;
    width: 30%;
    height: 100%;
    overflow: hidden;
}
.section1 .imgc img{
    height: 150px;
    width: 150px;
    border: 1px solid black;
}
.section1 .parac{
    float: right;
    width: 70%;
    height: 100%;
}
.secpart1, .secpart2, .secpart3{
    float: left;
    padding: 2%;
}
.section2{
    background-color: lightgray;
    float: right;
    width: 31%;
    padding: 1%;
    height: 100vh;
    
}
.section2 ul{
    padding-left: 0pt;
}
.section2 h4,li,p{
    padding: 2%;
    list-style: none;
}
footer{
    background-color: rgb(39, 37, 37);
    clear: both;
}
footer p{
    color: white;
    text-align: center;
    padding: 1%;
}

@media(max-width:768px){
    *{
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    body{
        width: 100%;
        margin: 0;
        border: none;
    }
    #clr1{
        color: cyan;
    }
    .logoarea{
        background-color: rgb(39, 37, 37);
        float: left;
        width: 100%;
    }
    .logoarea h1{
        padding: 2%;
        color: white;
        font-size: 450%;
    }
    .navbar{
        background-color: rgb(78, 76, 76);
        float: left;
        width: 100%;
    }
    .navbar ul{
        padding-left: 0pt;
    }
    .navbar ul li{
        list-style: none;
        float: none;
        padding: 1%;
        border: 1px solid black;
        color: white;
        font-size: 150%;
    }
    
    .section1{
        float: left;
        width: 98%;
        padding: 1%;
        height: auto;
    }
    .section1 .imgc{
        
        float: left;
        width: 100%;
        height: 100%;
        overflow: hidden;
        clear: right;
        
        text-align: center;
    }
    .section1 .imgc img{
        height: 200px;
        width: 200px;
        border: 1px solid black;
        
        text-align: center;
    }
    .section1 .parac{
        float: left;
        width: 100%;
        height: 100%;
        font-size: 175%;
        clear: both;
    }
    .secpart1, .secpart2, .secpart3{
        float: left;
        padding: 2%;
    }
    .section2{
        background-color: lightgray;
        float: left;
        width: 100%;
        padding: 0;
        height: auto;
    }
    .section2 ul{
        padding-left: 0pt;
    }
    .section2 h4,li,p{
        padding: 2%;
        list-style: none;
    }
    footer{
        background-color: rgb(39, 37, 37);
        clear: both;
    }
    footer p{
        color: white;
        text-align: center;
        padding: 1%;
        font-size: 120%;
    }
}